dht11.json
[
    {
        "id": "dht11_in",
        "type": "rpi-dht22",
        "z": "flow1",
        "name": "DHT11 Sensor",
        "topic": "dht11",
        "dht": 11,
        "pintype": "0",
        "pin": "4",
        "x": 160,
        "y": 120,
        "wires": [["local_data"]]
    },
    {
        "id": "local_data",
        "type": "function",
        "z": "flow1",
        "name": "Format Local Data",
        "func": "msg.payload = {\n    temperature: msg.payload.temperature,\n    humidity: msg.payload.humidity\n};\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 120,
        "wires": [["local_temp_gauge", "local_hum_gauge"]]
    },
    {
        "id": "local_temp_gauge",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Local Temp",
        "group": "group1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Local Temperature (째C)",
        "label": "째C",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "local_hum_gauge",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Local Humidity",
        "group": "group1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Local Humidity (%)",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "weather_http",
        "type": "http request",
        "z": "flow1",
        "name": "OpenWeatherMap API",
        "method": "GET",
        "ret": "obj",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Manila&appid=YOUR_API_KEY&units=metric",
        "tls": "",
        "persist": false,
        "x": 200,
        "y": 260,
        "wires": [["weather_parse"]]
    },
    {
        "id": "weather_parse",
        "type": "function",
        "z": "flow1",
        "name": "Parse Weather Data",
        "func": "msg.payload = {\n    temperature: msg.payload.main.temp,\n    humidity: msg.payload.main.humidity,\n    condition: msg.payload.weather[0].description\n};\nreturn msg;",
        "outputs": 1,
        "x": 440,
        "y": 260,
        "wires": [["api_temp_gauge", "api_hum_gauge", "weather_text"]]
    },
    {
        "id": "api_temp_gauge",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "API Temp",
        "group": "group1",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "API Temperature (째C)",
        "label": "째C",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "api_hum_gauge",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "API Humidity",
        "group": "group1",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "API Humidity (%)",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "weather_text",
        "type": "ui_text",
        "z": "flow1",
        "group": "group1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Weather Condition",
        "label": "Condition",
        "format": "{{msg.payload.condition}}",
        "layout": "row-spread",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "inject_weather",
        "type": "inject",
        "z": "flow1",
        "name": "Every 5 mins",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 200,
        "wires": [["weather_http"]]
    },
    {
        "id": "group1",
        "type": "ui_group",
        "name": "Weather Dashboard",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Weather Station",
        "icon": "dashboard",
        "order": 1
    }
]
