mqtt.json
[{
    "id": "inject1",
    "type": "inject",
    "z": "flow1",
    "name": "Send Message",
    "props":[{"p":"payload"}],
    "payload":"Hello IoT World",
    "payloadType":"str",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":150,
    "y":100,
    "wires":[["mqtt_out1"]]
},
{
    "id": "mqtt_out1",
    "type": "mqtt out",
    "z": "flow1",
    "name":"Publisher",
    "topic":"iot/classroom/demo",
    "qos":"0",
    "retain":"false",
    "broker":"mqtt_broker",
    "x":350,
    "y":100,
    "wires":[]
},
{
    "id": "mqtt_in1",
    "type": "mqtt in",
    "z": "flow1",
    "name":"Subscriber",
    "topic":"iot/classroom/demo",
    "qos":"0",
    "datatype":"auto",
    "broker":"mqtt_broker",
    "x":150,
    "y":200,
    "wires":[["debug1"]]
},
{
    "id": "debug1",
    "type": "debug",
    "z": "flow1",
    "name":"Received Message",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "x":350,
    "y":200,
    "wires":[]
},
{
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name":"HiveMQ Broker",
    "broker":"broker.hivemq.com",
    "port":"1883",
    "clientid":"",
    "usetls":false,
    "protocolVersion":"4",
    "keepalive":"60",
    "cleansession":true,
    "birthTopic":"",
    "birthQos":"0",
    "birthPayload":"",
    "closeTopic":"",
    "closeQos":"0",
    "closePayload":"",
    "willTopic":"",
    "willQos":"0",
    "willPayload":""
}]
